*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #121212;
    font-family: sans-serif;
}

.sidbar{
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
}

.sidbar .logo img{

    width: 80px;
    margin-left: 8px;
}

.sidbar .navigation ul{
    list-style: none;
    margin-top: 10px;
}

.sidbar .navigation ul li{
    padding: 10px 0;
    margin-left: 20px;


}

.sidbar .navigation ul li a{

    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.75;
    transition: all 1s;
}

.sidbar .navigation ul li .fa{

    font-size: 20px;
    margin-right: 10px;
    
      

}

.sidbar .navigation ul li a:hover{
    opacity: 1;
    transition: all 1s;
}


.main-container{
    margin-left: 300px;
    margin-bottom: 100px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px;
   
}

.top-bar .pre-next-button{
    width: 30px;
    height: 30px;
   font-size: 18px;
   border: 0;
   border-radius: 100%;
   margin-right: 10px;
  
 

}

.top-bar .navbar{
    display: flex;
    align-items: center;
}

.top-bar .navbar ul{
    list-style: none;
}


.top-bar .navbar ul li{

    display: inline-block;
    margin: 0 8px;
    width: 70px;
}


.top-bar .navbar ul li a{

    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    opacity: o.75;
    transition: all 1s;
    
}

.top-bar .navbar ul li a:hover{
    opacity: 1;
    color: white;
    font-size: 15px;
    transition: all 1s;
}


.top-bar .navbar button{

    padding: 14px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 0;
    border-radius: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 1s;
   
}

.top-bar .navbar button:hover{
    background-color: burlywood;
    transition: all 1s;
}

.spotify-playlists{
    padding: 20px 30px;
}

.spotify-playlists h2{
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
}

.spotify-playlists .list{

    display: flex;
     gap: 20px; 
    overflow: hidden;
    
}

.spotify-playlists .list .item{
    min-width: 140px;
    width: 160px;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(22, 20, 20);
    transition: all ease 0.5s;
}

.spotify-playlists .list .item:hover{
    background-color: #3a3939;
}


.spotify-playlists .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    
}

.spotify-playlists  h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists p{
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}


.spotify-playlists .list .item .plays{
    position: relative;
}


.spotify-playlists .list .item .plays .fa-solid{
  position: absolute;
   right: 10px;
   top: -60px;
   padding: 18px;
   background-color: rgb(15, 233, 66);
   border-radius: 100%;

   opacity: 0;
   border: 0;
   transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .plays .fa-solid{
        
    opacity: 1;
    transform: translateY(-20px);
}









